page-shot-definition {
  .myButton {
  	background-color:#00704a;
  	-moz-border-radius:28px;
  	-webkit-border-radius:28px;
  	border-radius:28px;
  	border:1px solid #85c446;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:17px;
  	padding:16px 31px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #2f6627;
    position:relative;
    top:10px;
  }

  .myButton:active {
  	position:relative;
    background-color:#85c446;
  	top:12px;
  }

  .myImage {
    display: block;
    margin: auto;
    max-width: 50%;
  }

  .headerText {
    font-family:Arial;
    text-align: center;
    color: #00704a;
  }

  .definitionText {
    text-align: center;
    word-wrap: normal;
    overflow: visible;
    white-space: normal;
  }

}
