Prioritized Requirements
1. The System shall present and define 12 types of camera shots to the user
   1. The app’s primary purpose is to teach 12 different camera shots (listed below) to students. It would not be possible to teach these shots without first introducing and defining them
1. The System shall provide a visual aid depicting the 12 different camera shots.
   1. A diagram of the varying degrees of zoom that differentiate camera shots is high priority as it will allow users to visualize the different shots.
1. The System shall allow the user to take and save photographs
   1. This will allow the user to keep a record of their photographs for critique and improvements
1. The System shall assist the user in framing the camera shot
   1. Once the user understands the types of shots they will be taking, they will be able to practice taking the shots with real time-guidance and screen overlays
1. The System shall allow the user to choose each category of shot(Distance or Angle) and specific shot that they would like to practice
   1. This would be beneficial for users that already know what shots they would like to practice, but is relatively low priority because it is not essential for the application’s purpose
1. The System shall categorize user-taken photos based on the type of camera shot
   1. This allows the user to better organize their saved photos, but is lower in priority because it would only serve as an organizational feature rather than an educational one




Camera shots to be taught
Distance shots:
1. Longshot
   1. Captures entire subject
1. Medium-Longshot
   1. Captures subject’s knees and upward
1. Medium
   1. Captures subject’s waist and upward
1. Medium-Closeup
   1. Captures subject’s shoulders and head
1. Closeup
   1. Captures subject’s face
1. Extreme Closeup
   1. Captures single feature of subject’s face (eyes, mouth, etc.)
1. Extreme Longshot
   1. Captures entire subject and surrounding


Angle shots
1. Straight angle
   1. Eye level, perpendicular to subject
1. High angle
   1. Camera above subject, angled downward
1. Low angle
   1. Camera below subject, angled upward
1. Overhead
   1. Camera directly above subject, facing downward
1. Canted
   1. Camera horizontally tilted in either direction




Business Rules


* Photos must be taken in landscape orientation
* The subject of each shot must have human proportions (no miscellaneous objects/props)